.vscode/settings.json
site/*
desktop.ini
*/.obsidian/*
.obsidian/*
.trash/*
*/.trash/*
*/.DS_Store
__pycache__
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/obsidian_mkdocs_publisher_docs.iml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/workspace.xml
sortspec.md
_obsidian
.obsidian
.trash/*
*/.trash/*
*/.DS_Store
*/.obsidian/*
Pipfile
Pipfile.lock